version: "3.5"
services:
  zero1:
    image: dgraph/dgraph:local
    working_dir: /data/zero1
    ports:
      - 5080
      - 6080
    labels:
      cluster: test
      service: zero1
    command: dgraph zero --my=zero1:5080 --logtostderr -v=2 --bindall --expose_trace --profile_mode block --block_rate 10

  alpha1:
    image: dgraph/dgraph:local
    working_dir: /data/alpha1
    volumes:
      - type: bind
        source: ../../../../ee/acl/hmac-secret
        target: /dgraph-acl/hmac-secret
        read_only: true
    ports:
      - 8080
      - 9080
    labels:
      cluster: test
      service: alpha1
    command: dgraph alpha --my=alpha1:7080 --zero=zero1:5080 --expose_trace --profile_mode block --block_rate 10 --logtostderr -v=2 
      --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16; token=itIsSecret;"
      --acl "secret-file=/dgraph-acl/hmac-secret; access-ttl=3s;" 
      --trace "ratio=1.0;"
