# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.

/posting/ @manishrjain @martinmr
/ee/acl/ @gitlw
/wiki/ @danielmai
/contrib/config/ @danielmai