# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.
* @akon-dey
/posting/ @akon-dey
/ee/acl/ @akon-dey
/wiki/ @akon-dey
/contrib/config/ @akon-dey
/query/ @akon-dey
/graphql/ @akon-dey
