/build
/installs
/coverage.out
/dgraph-bulk-loader

# fuzzing output
gql/gql-fuzz.zip
gql/fuzz-data/crashers
gql/fuzz-data/suppressions

# goland project folder
.idea
dgraph.iml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Vscode configuration files
.vscode

#darwin
.DS_Store