*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goland
.idea/
### Go Patch ###
/vendor/

# IdeaIDE
.idea

# VS Code
.vscode

# Sublime
*.sublime*

trie/test_data
/bin
chaindata/
*.wasm
