language: go
go:
- 1.7
dist: trusty
sudo: required
notifications:
  email:
    recipients:
    - minions@dgraph.io
addons:
  # Uploading Dgraph binary, CPU and memory profiles.
  artifacts:
    paths:
    - cmd/dgraph/dgraph
    - cmd/dgraph/dmem.prof
    - cmd/dgraph/dcpu.prof
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.8
    packages:
    - clang-3.8
    - libbz2-dev
    - libsnappy-dev
    - zlib1g-dev
    - jq
env:
- CC=clang-3.8 CXX=clang++-3.8
cache:
  apt: true
  directories:
  - "$HOME/build"
install:
- bash contrib/build-rocksdb.sh $HOME/build
before_script:
- go get github.com/mattn/goveralls
script:
- bash contrib/cover.sh $HOME/build coverage.out
- bash contrib/load-test.sh $HOME/build
- goveralls -service=travis-ci -coverprofile=coverage.out
