#graph {
  font-size: 12px;
  word-break: break-all;
  margin-top: 10px;
  width: 100%;
  height: 500px;
  border: 1px solid gray;
}

nav {
  border-bottom: 0.5px solid black;
}

#query-form {
  padding-top: 20px;
}

textarea {
  margin-top: 15px;
}

textarea.form-control {
  font-size: 12px;
}

#submit {
  float: right;
}

.hourglass {
  background: url(../images/hourglass.svg) no-repeat center center;
  width: 32px;
  height: 32px;
}

#statistics {
  padding: 5px;
  margin-top: 10px;
}

.error-res {
  padding-left: 10px;
  padding-top: 20px;
  color: red;
}

.success-res {
  padding-left: 10px;
  padding-top: 20px;
  color: green;
}

#editor {
  width: 100%;
  height: 300px;
  font-size: 16px;
  border: 0.5px solid gray;
  margin-bottom: 20px;
}
