attrs==19.3.0
aws-sam-translator==1.22.0
awscli==1.18.40
backports.shutil-get-terminal-size==1.0.0
boto3==1.12.40
botocore==1.15.40
certifi==2020.4.5.1
cfn-lint==0.29.5
chardet==3.0.4
colorama==0.4.3
dataclasses-jsonschema==2.12.0
decorator==4.4.2
docker==4.2.0
docutils==0.15.2
dulwich==0.19.15
idna==2.9
Jinja2==2.11.3
jmespath==0.9.5
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
MarkupSafe==1.1.1
mock==2.0.0
mypy-extensions==0.4.3
networkx==2.4
pbr==5.4.5
pyasn1==0.4.8
pyrsistent==0.16.0
python-dateutil==2.8.1
PyYAML==5.4
reprint==0.5.2
requests==2.23.0
rsa==4.1
s3transfer==0.3.3
six==1.14.0
tabulate==0.8.7
taskcat==0.9.17
typing-extensions==3.7.4.2
urllib3==1.25.9
websocket-client==0.57.0
yattag==1.13.2
