args==0.1.0
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
clint==0.5.1
docker==4.2.0
embargo==0.1.1
Flask==1.0
gevent==1.4.0
greenlet==0.4.15
httpie==3.1.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pygments==2.7.4
PyYAML==5.4
requests==2.23.0
six==1.15.0
urllib3==1.26.5
websocket-client==0.57.0
Werkzeug==2.2.3

