args==0.1.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
clint==0.5.1
docker==5.0.0
embargo==0.1.1
Flask==1.0
gevent==1.4.0
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
urllib3==1.26.4
websocket-client==0.58.0
Werkzeug==0.16.1
