[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = alpha1
DNS.2 = alpha2
DNS.3 = alpha3
DNS.4 = alpha4
DNS.5 = alpha5
DNS.6 = alpha6
DNS.7 = alpha7
DNS.8 = alpha8
DNS.9 = zero1
DNS.10 = zero2
DNS.11 = zero3
DNS.12 = zero4
DNS.13 = zero5
DNS.14 = zero6
DNS.15 = zero7
DNS.16 = zero8
DNS.17 = localhost
