@charset "UTF-8";
body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background: #fff;
    color: #777;
}
a {
    color: #00bdf3;
}
a:hover {
    color: #0082a7;
}
pre {
    position: relative;
}
.bg {
    background: #fff;
    border: 1px solid #eaeaea;
}
b, strong, label, th {
    font-weight: 600;
}
code, kbd, pre, samp {
    font-family: "Consolas", menlo, monospace;
    font-size: 92%;
}
code {
    border-radius: 2px;
    white-space: nowrap;
    color: #5e5e5e;
    background: #FFF7DD;
    border: 1px solid #fbf0cb;
    padding: 0px 2px;
}
hr {
    border-bottom: 4px solid #F0F2F4;
}

table {
    border: 1px solid #eaeaea;
    table-layout: auto;
}
th {
    background: #f7f7f7;
    padding: 0.5rem;
}
td {
    padding: 0.5rem;
    border: 1px solid #eaeaea;
}

.notices {
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px 19px;
}

.notices .type {
  font-weight: 600;
  margin-right: 8px;
  font-size: 105%;
}

.notices p {
  margin: 0;
  display: inline-block;
}

.notices.incomplete {
  border-color: #f3d98c;
  background-color: #f7f7f1;
  border: 1px solid #e2e2e2;
}

.notices.note {
  border-color: #f3d98c;
  background-color: #fffad5;
  border: 1px solid #e2e2e2;
}

.notices.tip {
  border-color: #87cb74;
  background-color: #e3f9e3;
  border: 1px solid #e2e2e2;
}

.notices.warning {
  border-color: #c16560;
  background-color: #ffefe3;
  border: 1px solid #e2e2e2;
}

body {
  background-color: #fff;
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}

/* headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #232323;
  line-height: 1.1;
  margin: 1.6em 0 0.8em;
}
h1 {
  font-size: 2.1em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.6em;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.5em;
}
p {
  margin: 0 0 0.8em;
}

.content-wrapper {
  padding-top: 64px;
  position: relative;
  background: white;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}
.content-wrapper h1 {
  margin-top: 0;
}
.content-wrapper .content {
  padding: 21px 43px;
}

@media screen and (max-width:480px) {
  .content-wrapper .content {
    padding: 23px 22px;
  }
}

.content img {
  max-width: 100%;
}

body.sidebar-visible {
  overflow-x: hidden;
}
body.sidebar-visible .content-wrapper {
  transform: translateX(280px);
  border-left: 1px solid #f1f1f1;
}

pre {
  padding: 1rem;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  margin: 2rem 0;
  background: #f9f9f9;
  border: 0;
  border-radius: 2px;
  line-height: 1.45;
  border: 1px solid #ececec;
}
pre code {
  color: #237794;
  background: inherit;
  white-space: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 90%;
}
pre.collapsed {
  max-height: 330px;
  overflow: hidden;
}
pre.collapsed .showmore {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 26px;
  cursor: pointer;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), rgba(226, 226, 226, 0.72));
  color: #5a5a5a;
}
pre.collapsed .showmore:hover {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), rgba(226, 226, 226, 0.91));
  font-weight: 600;
}
.copy-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: #5a5a5a;
  background: white;
  padding: 6px 11px 3px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}
.copy-btn:not(.copied):hover {
    background-color: #fdfdfd;
}
.copy-btn.copied {
  cursor: default;
}

#header {
  height: 64px;
  position: fixed;
  border-bottom: 1px solid #EEE;
  padding: 0 31px;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  background: #ffffff;
  opacity: 0.99;
}
#header .logo {
  width: 118px;
}
#header .menu-container {
  /*margin-top: 15px;*/
  float: right;
}
#header .menu-container .main-menu {
  margin: 0;
}
#header .menu-container ul {
  list-style: none;
}
#header .menu-container ul li {
  display: inline-block;
}
#header .menu-container ul li a {
  color: #5f5f5f;
  padding: 19px 17px 20px;
  display: inline-block;
  text-decoration: none;
}
#header .menu-container ul li a:hover {
  text-decoration: none;
  background: #f7f7f7;
  color: #464646;
}
#header .menu-container ul li a:focus {
  text-decoration: none;
}
#header .brand {
  margin-top: 14px;
  display: inline-block;
}

#sidebar-toggle {
  display: inline-block;
  color: #3e3e3e;
  font-size: 21px;
  float: right;
  padding: 15px 16px;
}

#sidebar {
  background-color: #fdfdfd;
  position: fixed;
  width: 280px;
  bottom: 0;
  left: 0;
  font-weight: 400;
  overflow: scroll;
  font-size: 15px;
  top: 64px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}

#sidebar a {
  text-decoration: none;
}

#sidebar .sidebar-menu-container .heading {
  padding: 8px 19px;
  font-weight: 600;
  font-size: 16px;
}
#sidebar .sidebar-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
#sidebar .sidebar-menu a {
  display: block;
  padding: 8.4px 33px;
  color: #5f5f5f;
  font-size: 0.95em;
}
#sidebar .sidebar-menu a:hover {
  background: #dcdcdc;
  color: #464646;
}

.topics {
  list-style: none;
  padding-left: 19px;
}
.topics .main-topic {
  padding-bottom: 8px;
}
.topics .main-topic > a {
  font-weight: 600;
  font-size: 16px;
  color: black;
  display: block;
  padding-bottom: 8px;
}
.topics .main-topic.active > a {
  color: #fb5812;
}
.sub-topics {
  list-style: none;
  padding-left: 14px;
  font-weight: 400;
}
.sub-topics li a {
  color: #707070;
  display: block;
  font-size: 0.95em;
  padding: 5px 0px;
}
.sub-topics li.active a {
  text-decoration: underline;
  color: #fb5812;
}
.menu-header {
  padding: 20px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-header .heading {
  display: inline-block;
  font-weight: 600;
}

h1, h2, h3 {
  position: relative;
}
h1:hover .anchor i, h2:hover .anchor i, h3:hover .anchor i {
  visibility: visible;
}
.anchor {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -24px;
  width: auto;
  height: auto;
  padding-right: 13px;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 24px;
  color: #868686;
}
.anchor i {
  visibility: hidden;
  vertical-align: middle;
  /*vertical-align: -webkit-baseline-middle;*/
}
.anchor:hover {
  color: #717171;
}
.anchor-offset {
  display: block;
  position: relative;
  top: -83px;
  visibility: hidden;
}

/* min-width: 800px */
/* toggle sidebar visibility */
@media screen and (min-width: 800px) {
  .content-wrapper {
    margin-left: 280px;
    border-left: 1px solid #f1f1f1;
  }
  #sidebar-toggle {
    display: none;
  }
  .sidebar-menu-container {
    display: none;
  }
}
@media screen and (max-width: 799px) {
  .menu-container {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  #header {
    padding: 0 13px 0 31px;
  }
}
