@charset "UTF-8";
html body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    color: #4a4a4a;
    margin: 0;
}
a {
    color: #00bdf3;
}
a:hover {
    color: #0082a7;
}
b, strong, label, th {
    font-weight: 600;
}
/*code {
    border-radius: 2px;
    white-space: nowrap;
    color: #5e5e5e;
    background: #FFF7DD;
    border: 1px solid #fbf0cb;
    padding: 0px 2px;
}*/
hr {
    border-bottom: 4px solid #F0F2F4;
}

table {
    border: 1px solid #eaeaea;
    table-layout: auto;
}
th {
    background: #f7f7f7;
    padding: 0.5rem;
}
td {
    padding: 0.5rem;
    border: 1px solid #eaeaea;
}

.notices {
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px 19px;
}

.notices .type {
  font-weight: 600;
  margin-right: 8px;
  font-size: 105%;
}

.notices p {
  margin: 0;
  display: inline-block;
}

.notices.incomplete {
  border-color: #f3d98c;
  background-color: #f7f7f1;
  border: 1px solid #e2e2e2;
}

.notices.note {
  border-color: #f3d98c;
  background-color: #fffad5;
  border: 1px solid #e2e2e2;
}

.notices.tip {
  border-color: #87cb74;
  background-color: #e3f9e3;
  border: 1px solid #e2e2e2;
}

.notices.warning {
  border-color: #c16560;
  background-color: #ffefe3;
  border: 1px solid #e2e2e2;
}

/* headers */
html h1, html h2, html h3, html h4, html h5, html h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #232323;
  line-height: 1.1;
  margin: 1.6em 0 0.8em;
}
html h1 {
  font-size: 2.1em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.6em;
}
html h2 {
  font-size: 1.9em;
}
html h3 {
  font-size: 1.5em;
}
html p {
  margin: 0 0 0.8em;
}

.content-wrapper {
  padding-top: 64px;
  position: relative;
  background: white;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}
.content-wrapper h1 {
  margin-top: 0;
}
.content-wrapper .content {
  padding: 21px 43px 67px;
}

@media screen and (max-width:480px) {
  .content-wrapper .content {
    padding: 23px 22px;
  }
}

.content img {
  max-width: 100%;
}

body.sidebar-visible {
  overflow-x: hidden;
}
body.sidebar-visible .content-wrapper {
  transform: translateX(280px);
  border-left: 1px solid #f1f1f1;
}

html pre {
  position: relative;
  padding: 1rem;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  margin: 2rem 0;
  background: #f9f9f9;
  border: 0;
  border-radius: 2px;
  line-height: 1.45;
  border: 1px solid #ececec;
}
html pre code {
  /*color: #237794;*/
  background: inherit;
  white-space: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 90%;
}
pre.collapsed {
  max-height: 330px;
  overflow: hidden;
}
pre.collapsed .showmore {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 26px;
  cursor: pointer;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), rgba(226, 226, 226, 0.72));
  color: #5a5a5a;
}
pre.collapsed .showmore:hover {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.1), rgba(226, 226, 226, 0.91));
  font-weight: 600;
}
pre.collapsed .showmore span {
  /*background: white;
  border: 1px solid #ececec;
  padding: 6px 11px 3px;
  text-transform: uppercase;
  font-size: 11px;*/
}
/* unset the default hljs default style*/
.hljs {
  display: block;
  overflow-x: inherit;
  padding: 0;
  background: inherit;
}
.copy-btn {
  position: absolute;
  right: 0;
  top: 0;
  color: #5a5a5a;
  background: white;
  padding: 6px 11px 3px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}
.copy-btn:not(.copied):hover {
    background-color: #fdfdfd;
}
.copy-btn.copied {
  cursor: default;
}

.code-btn {
  color: #5a5a5a;
  background: white;
  padding: 6px 12px 6px;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.5px;
  border: 1px solid #ececec;
  cursor: pointer;
  /*display: inline-block;*/
}
.code-btn.active {
  background: #E0EBF5;
}

#header {
  height: 64px;
  position: fixed;
  border-bottom: 1px solid #EEE;
  padding: 0 31px;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  width: auto;
  background: #ffffff;
  opacity: 0.99;
}
#header .logo {
  width: 118px;
}
#header .menu-container {
  /*margin-top: 15px;*/
  float: right;
}
#header .menu-container .main-menu {
  margin: 0;
}
#header .menu-container ul {
  list-style: none;
}
#header .menu-container ul li {
  display: inline-block;
}
#header .menu-container ul li a {
  color: #5f5f5f;
  padding: 21px 17px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}
#header .menu-container ul li a:hover {
  text-decoration: none;
  background: #f7f7f7;
  color: #464646;
}
#header .menu-container ul li a:focus {
  text-decoration: none;
}
#header .brand {
  margin-top: 14px;
  display: inline-block;
}

#sidebar-toggle {
  display: inline-block;
  color: #3e3e3e;
  font-size: 21px;
  float: right;
  padding: 15px 16px;
}

#sidebar {
  background-color: #fdfdfd;
  position: fixed;
  width: 280px;
  bottom: 0;
  left: 0;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 15px;
  top: 64px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
}
#sidebar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.06);
}
#sidebar::-webkit-scrollbar {
  width: 6px;
}
#sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

#sidebar a {
  text-decoration: none;
}

#sidebar .sidebar-menu {
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 71px 30px 23px;
  display: flex;
  justify-content: space-between;
}
#sidebar .sidebar-menu li {
  display: inline-block;
}
#sidebar .sidebar-menu a {
  display: block;
  color: #a7a4a4;
  font-size: 12px;
}
#sidebar .sidebar-menu a:hover {
  color: #464646;
}

.topics {
  list-style: none;
  padding-left: 19px;
  margin-bottom: 0;
}
.topics .main-topic {
  padding-bottom: 8px;
}
.topics .main-topic > a {
  font-weight: 600;
  font-size: 16px;
  color: black;
  display: block;
  padding-bottom: 8px;
}
.topics .main-topic.active > a {
  font-weight: 600;
  color: #fb5812;
}

.topic {
  position: relative;
  transition: all 250ms ease-out;
}

.topic .fa {
  visibility: hidden;
  position: absolute;
  left: -11px;
  top: 9.5px;
  font-size: 12px;
  transition: all 250ms ease-out;
}

.topic:hover > .fa {
  visibility: visible;
  color: #fb5812;
}
.topic.active > .fa {
  visibility: visible;
  color: #fb5812;
}

.sub-topics {
  list-style: none;
  padding-left: 14px;
  font-weight: 400;
}
.sub-topics li {
  color: #707070;
}
.sub-topics li.active {
  /*color: #ff6929;*/
  color: #fb5812;
}
.sub-topics li a {
  color: inherit;
  display: block;
  font-size: 0.95em;
  padding: 5px 0px;
}
.menu-header {
  padding: 20px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-header .heading {
  display: inline-block;
  font-weight: 600;
}

h2, h3 {
  position: relative;
}
h1:hover .anchor i, h2:hover .anchor i, h3:hover .anchor i {
  visibility: visible;
}
.anchor {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: -24px;
  width: auto;
  height: auto;
  padding-right: 13px;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 24px;
  color: #868686;
}
.anchor i {
  visibility: hidden;
  vertical-align: middle;
  /*vertical-align: -webkit-baseline-middle;*/
}
.anchor:hover {
  color: #717171;
}
.anchor-offset {
  display: block;
  position: relative;
  top: -83px;
  visibility: hidden;
}

.community-cta {
  position: fixed;
  bottom: 0;
  right: 3%;
  padding: 10px 22px;
  font-size: 13px;
  background: #29b1ff;
  color: white;
  text-decoration: none;
  box-shadow: 0px 1px 10px 0.2px #888888;
}
.community-cta:hover {
  text-decoration: none;
  color: white;
  background: #10a8ff;
  box-shadow: 0px 1px 13px 0.2px #888888;
}
.edit-btn {
  float: right;
  text-decoration: none;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  padding: 2px 9px;
  color: #5d5d5d;
  font-size: 12px;
  margin: 8px 4px;
}
.edit-btn:hover {
  color: #333333;
  box-shadow: 0px 0px 0.5px 0px #888888;
}
.edit-btn .fa {
  margin-right: 3px;
}

/* min-width: 800px */
/* toggle sidebar visibility */
@media screen and (min-width: 800px) {
  .content-wrapper {
    margin-left: 280px;
    border-left: 1px solid #f1f1f1;
  }
  #sidebar-toggle {
    display: none;
  }
  #sidebar .sidebar-menu {
    display: none;
  }
}
@media screen and (max-width: 799px) {
  .menu-container {
    display: none;
  }
  .edit-btn {
    display: none;
  }
  .community-cta {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  #header {
    padding: 0 13px 0 31px;
  }
}

.runnable {
  background: #ffffff;
  padding: 29px 0px;
  margin-bottom: 13px;
}
.runnable .runnable-pane {
  margin: 0px 2px 4px 0;
  padding: 3px;
  border: 1px solid #ececec;
  background: #f9f9f9;
  height: 326px;
  display: flex;
  flex-direction: column;
}
.runnable .runnable-content {
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.runnable .topbar {
  /*overflow: auto;*/
  /*padding: 4px 17px 4px 18px;*/
  padding: 1px 0px 8px;
}
.runnable .footer {
  padding: 4px 0;
}
.runnable .output {
  overflow-y: scroll;
  background: #fffff3;
}
.runnable .code-btn:hover {
  text-decoration: none;
  color: inherit;
}
.runnable .code-btn[data-action='run'],
.runnable .code-btn[data-action='save'] {
  background-color: #3e65b7;
  color: white;
}
.runnable .code-btn[data-action='run']:hover {
  background-color: white;
  color: #3e65b7;
  border: 1px solid #3e65b7;
}
.runnable .output-container.empty {
  visibility: hidden;
}
.runnable .output-container:not(.empty) {
  visibility: visible;
}
.runnable .output-container.error code {
  color: #bf0000;
}
.runnable .nav-languages {
  padding-left: 4px;
}
.runnable .nav-languages .language {
  font-size: 14px;
  color: #373e42;
  display: inline-block;
  padding: 0 8px 0 7px;
  text-decoration: none;
}
.runnable .nav-languages .language.active {
  color: #0094de;
}
.CodeMirror {
  font-size: 80%;
  height: auto;
  z-index: 0;
}
.CodeMirror-lines {
  background: #fffff3;
}
.runnable.editing .normal-actions {
  display: none;
}
.runnable:not(.editing) .edit-actions {
  display: none;
}
.runnable.editing [data-action="expand"] {
  display: none;
}
.runnable .runnable-code {
  background: #fffff3;
  overflow-y: scroll;
}
.runnable .query-content {
  background: rgba(217, 234, 234, 0.8)
}
html .runnable pre {
  padding: 0;
  border: 0;
  margin: 0;
  background: inherit;
}
html .runnable code {
  padding: 17px 12px;
}
.runnable .runnable-tab-content:not(.active) {
  display: none;
}
.runnable:not(.editing) .editing-header {
  display: none;
}
.runnable.editing .normal-header {
  display: none;
}

#runnable-modal {
  background: rgba(0, 0, 0, 0.63);
}
#runnable-modal .modal-title {
  margin: 0;
}
#runnable-modal .runnable {
  padding: 0;
  margin-bottom: 0;
}
#runnable-modal .runnable-pane {
  height: 644px;
}
#runnable-modal .code-btn[data-action='expand'] {
  display: none;
}
#runnable-modal .modal-close-btn {
  top: 19px;
  right: 33px;
  position: absolute;
  color: white;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
  line-height: 19px;
  letter-spacing: 1px;
  font-size: 16px;
}
#runnable-modal .modal-close-btn:hover {
  color: #afafaf;
  border-color: #afafaf;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  #runnable-modal .modal-dialog {
    max-width: 80%;
    margin-top: 69px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #runnable-modal .runnable {
    padding: 23px 0;
  }
  #runnable-modal .modal-dialog {
    max-width: 90%;
    margin-top: 69px;
  }
}
@media screen and (max-width: 768px) {
  #runnable-modal .modal-dialog {
    max-width: 100%;
    margin-top: 69px;
  }
  #runnable-modal .runnable-pane {
    height: 375px;
  }
}

/* custom bootstrap */
.row-no-padding [class^="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
