.hourglass {
    background: url(../images/hourglass.svg) no-repeat center center;
    width: 32px;
    height: 32px;
}

.error-res {
    padding-left: 10px;
    padding-top: 20px;
    color: red;
}

.success-res {
    padding-left: 10px;
    padding-top: 20px;
    color: green;
}

.query:hover pre {
    border: 1px solid gray;
    cursor: pointer;
}

#graph:focus {
    outline: none;
}

.graph {
    width: 100%;
    height: 450px;
    margin-top: 50px;
}

.fullscreen {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}
