.hourglass {
    background: url(../images/hourglass.svg) no-repeat center center;
    width: 32px;
    height: 32px;
}

.error-res {
    padding-left: 10px;
    padding-top: 20px;
    color: red;
}

.success-res {
    padding-left: 10px;
    padding-top: 20px;
    color: green;
}

.query:hover pre {
    border: 1px solid gray;
    cursor: pointer;
}

:focus {
    outline: none;
}

.graph {
    width: 100%;
    height: 500px;
}

.fullscreen {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.vis-tooltip {
    border: 1px solid #f3d98c;
    background-color: #fffad5;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    height: auto;
    position: absolute !important;
}
