{{ partial "header.html" . }}

{{ range .Data.Pages.ByWeight  }}
  {{ .Render "article" }}
{{ end }}

<a target="_blank" href="https://discuss.dgraph.io/" class="community-cta">
  Talk to community
</a>

<!-- Modal -->
<div class="modal" id="runnable-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
