
      {{ if .Params.chapter }}
        </div> <!-- end chapter-->
      {{ end }}
      </div>
    </div>

    </section>
    <script src="{{ .Site.BaseURL }}/js/clipboard.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ .Site.BaseURL }}/js/modernizr.custom.71422.js"></script>
    <script src="{{ .Site.BaseURL }}/js/sidebar.js"></script>
    {{ partial "script.html" . }}
  </body>
</html>
