<div class="community-cta-wrapper">
  <a href="#choose-community" class="community-cta">
    Join our community
  </a>

  <ul class="community-list">
    <li>
      <a href="#" class="community-link" onclick="showPopup(false); return false;">
        <i class="fa fa-envelope-o"></i> <span class="name">Subscribe</span>
      </a>
    </li>
    <li>
        <a href="https://github.com/dgraph-io/dgraph" target="_blank" class="community-link">
          <i class="fa fa-github"></i> <span class="name">Github</span>
        </a>
      </li>
    <li>
      <a href="https://slack.dgraph.io/" target="_blank" class="community-link">
        <i class="fa fa-slack"></i> <span class="name">Slack</span>
      </a>
    </li>
    <li>
      <a href="https://discuss.dgraph.io/" target="_blank" class="community-link">
        <i class="fa fa-comments"></i> <span class="name">Forum</span>
      </a>
    </li>
  </ul>
</div>
