{{ $currentBranch := getenv "CURRENT_BRANCH" }}

<!--
  Getting the version here is very hacky. It assumes that $current branch is either:

  1. "master"
  2. "release/vX.Y.Z"
-->
{{ $version := split (slicestr (replace (printf "%-14s" $currentBranch) " " "0") 9) "." }}
{{ $majorVersion := int (index $version 0) }}
{{ $minorVersion := int (index $version 1) }}
{{ $patchVersion := int (index $version 2) }}
{{ $versionGe110 := or (eq $currentBranch "master") (gt $majorVersion 1) (and (eq $majorVersion 1) (gt $minorVersion 1)) (and (eq $majorVersion 1) (ge $minorVersion 1) (ge $patchVersion 0)) }}

<pre><code class="no-copy" tabindex="-1">package main

import (
	"context"
	"flag"
	"fmt"
	"log"
    {{ if $versionGe110 }}
	"github.com/dgraph-io/dgo/v2"
	"github.com/dgraph-io/dgo/v2/protos/api"
    {{ else }}
	"github.com/dgraph-io/dgo"
	"github.com/dgraph-io/dgo/protos/api"
    {{ end }}
	"google.golang.org/grpc"
)

var (
	dgraph = flag.String("d", "127.0.0.1:9080", "Dgraph Alpha address")
)

func main() {
	flag.Parse()
	conn, err := grpc.Dial(*dgraph, grpc.WithInsecure())
	if err != nil {
		log.Fatal(err)
	}
	defer conn.Close()

	dg := dgo.NewDgraphClient(api.NewDgraphClient(conn))
    {{ if eq .Vars nil }}
	resp, err := dg.NewTxn().Query(context.Background(), `<span class="query-content">{{ .Code }}</span>`)
	{{ else }}
	resp, err := dg.NewTxn().QueryWithVars(context.Background(), `<span class="query-content">{{ .Code }}</span>`, map[string]string{{ .Vars }})
    {{ end }}
	if err != nil {
		log.Fatal(err)
	}
	fmt.Printf("Response: %s\n", resp.Json)
}</code></pre>
