{{ $currentBranch := getenv "CURRENT_BRANCH" }}

{{ $version := replaceRE "[a-zA-Z/]+" "" $currentBranch }}
{{ $versionMap := split (replace (printf "%-10s" $version) " " "0") "." }}
{{ $majorVersion := int (index $versionMap 0) }}
{{ $minorVersion := int (index $versionMap 1) }}

{{ $useOldHttpApi := or (lt $majorVersion 1) (and (eq $majorVersion 1) (le $minorVersion 0)) }}

{{ if or (eq $currentBranch "master") (not $useOldHttpApi) }}
    {{ if eq ( .Vars ) nil }}
        <pre><code class="no-copy" tabindex="-1">curl -H "Content-Type: application/graphql+-" localhost:8080/query -XPOST -d '<br/><span class="query-content">{{ .Code }}</span>' | python -m json.tool | less
        </code></pre>
    {{ else }}
        <pre><code class="no-copy" tabindex="-1">curl -H "Content-Type: application/json" localhost:8080/query -XPOST -d '{
    "query": "<span class="curl-query">{{ .Code }}</span>",
    "variables": {{ .Vars }}
}' | python -m json.tool | less
        </code></pre>
    {{ end }}
{{ else }}
    <pre><code class="no-copy" tabindex="-1">curl localhost:8080/query -XPOST {{ with .Vars }}-H 'X-Dgraph-Vars: {{.}}' {{ end }}-d '<br/><span class="query-content">{{ .Code }}</span>' | python -m json.tool | less
    </code></pre>
{{ end }}
