{{ $currentBranch := getenv "CURRENT_BRANCH" }}


{{ $majorVersion := 0 }}
{{ $minorVersion := 0 }}
{{ $patchVersion := 0 }}

{{ if (ne $currentBranch "master") }}
  {{ $version := slicestr $currentBranch 9 }}
  {{ $majorVersion := int (slicestr $version 0 1) }}
  {{ $minorVersion := int (slicestr $version 2 3) }}
  {{ $patchVersion := int (slicestr $version 4 5) }}
{{ end }}


{{ if or (eq $currentBranch "master") (ge $majorVersion 1) (ge $minorVersion 9) }}
<pre><code class="no-copy" tabindex="-1">package main

import (
  "context"
  "flag"
  "fmt"
  "log"

  "github.com/dgraph-io/dgraph/client"
  "github.com/dgraph-io/dgraph/protos/api"
  "google.golang.org/grpc"
)

var (
  dgraph = flag.String("d", "127.0.0.1:9080", "Dgraph server address")
)

func main() {
  flag.Parse()
  conn, err := grpc.Dial(*dgraph, grpc.WithInsecure())
  if err != nil {
    log.Fatal(err)
  }
  defer conn.Close()

  dg := client.NewDgraphClient(api.NewDgraphClient(conn))
  {{ if eq .Vars nil }}
  resp, err := dg.NewTxn().Query(context.Background(), `<span class="query-content">{{ .Code }}</span>`, nil)
  {{ else }}
  resp, err := dg.NewTxn().QueryWithVars(context.Background(), `<span class="query-content">{{ .Code }}</span>`, map[string]string{{ .Vars }})
  {{ end }}
  if err != nil {
    log.Fatal(err)
  }
  fmt.Printf("Response: %s\n", resp.Json)
}</code></pre>
{{ else }}
<pre><code class="no-copy" tabindex="-1">package main

import (
  "context"
  "flag"
  "fmt"
  "io/ioutil"
  "log"
  "os"

  "github.com/dgraph-io/dgraph/client"
  "github.com/gogo/protobuf/proto"
  "google.golang.org/grpc"
)

var (
  dgraph = flag.String("d", "127.0.0.1:9080", "Dgraph server address")
)

func main() {
  flag.Parse()
  conn, err := grpc.Dial(*dgraph, grpc.WithInsecure())
  if err != nil {
    log.Fatal(err)
  }
  defer conn.Close()

  // The Dgraph client needs a directory in which to write its blank node maps.
  clientDir, err := ioutil.TempDir("", "client_")
  if err != nil {
    log.Fatal(err)
  }
  defer os.RemoveAll(clientDir)

  dgraphClient := client.NewDgraphClient([]*grpc.ClientConn{conn}, client.DefaultOptions, clientDir)
  defer dgraphClient.Close()

  req := client.Req{}
  req.SetQuery(`<span class="query-content">{{ .Code }}</span>`)

  resp, err := dgraphClient.Run(context.Background(), &req)
  if err != nil {
    log.Fatalf("Error in getting response from server, %s", err)
  }
  fmt.Printf("Response %+v\n", proto.MarshalTextString(resp))
}</code></pre>

{{ end }}

