      </div>
    </main>

    <script src="{{ .Site.BaseURL }}/js/clipboard.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/dgraph.js?{{ now }}"></script>
    <script src="{{ .Site.BaseURL }}/js/runnable.js?{{ now }}"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
    <!-- Mailchimp popup-->
    <script>
      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
      }

      function setCookie(cname, cvalue, exdays) {
        exdays = exdays || 60;
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";domain=.dgraph.io;path=/";
      }
    </script>
    <script type="text/javascript" src="https://downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
    <script type="text/javascript">
      function showPopup(isStart) {
        var skip = false;
        if (isStart && getCookie("MCCustom")) {
          skip = true;
        }

        var elements = document.getElementsByClassName('mc-modal');
        while(elements.length > 0) {
          elements[0].parentNode.parentNode.removeChild(elements[0].parentNode);
        }

        require(["mojo/signup-forms/Loader"], function(L) {
          if (!skip) {
            L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"f6c6a28bb40d10e26b88fff1c","lid":"e85c448cac"});
          }
        });

        if (skip) {
          return;
        }

        var mcPopupClosed = getCookie("MCPopupClosed");
        if (mcPopupClosed) {
          setCookie("MCCustom", "c");
        }

        var mcPopupSubscribed = getCookie("MCPopupSubscribed");
        if (mcPopupSubscribed) {
          setCookie("MCCustom", "s");
        }

        document.cookie = 'MCPopupClosed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
        document.cookie = 'MCPopupSubscribed=;path=/;expires=Thu, 01 Jan 1970 00:00:00 UTC;';
      }

      showPopup(true);
    </script>

    </body>
</html>
