<nav id="sidebar">
  <div id="header">
    <a href="{{ .Site.BaseURL }}">
      <img src="{{ .Site.BaseURL }}/images/dgraph.svg" alt="dgraph" />
    </a>
  </div>

  <select class="version-selector">
    {{ range $i, $version := .Site.Params.Versions }}
      <option value="{{$version}}">{{ $version }}</option>
    {{ end }}
  </select>

  <ul class="topics">
    {{ $page := . }}
    {{ $toc := .TableOfContents }}

    {{ range $i, $key := .Site.Sections }}
      {{ if ne $key "" }}

        {{ if not $.Site.Params.menu }}
          {{ $.Scratch.Set "currentItem" (index $page.Site.Sections $i) }}
        {{ else }}
          {{ $.Scratch.Set "currentItem" (index $page.Site.Sections $key) }}
        {{ end }}

        {{ $value := $.Scratch.Get "currentItem" }}
        {{ $first := (index $value 0).Page }}

        <li class="doc-toc {{ if eq $page.RelPermalink $first.RelPermalink }}active{{ end }}" data-nav-id="{{ $first.RelPermalink }}">
          <a href="{{ $first.RelPermalink }}">
            <span>
              {{ $first.Title }}
             </span>
          </a>

          <!-- {{ if eq $page.RelPermalink $first.RelPermalink }}
            {{ $toc }}
          {{ end }} -->
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
