<div class="searchbox">
    <label for="search-by"><i class="fa fa-search"></i></label>
    <input id="search-by" type="text" placeholder="Search">
    <span data-search-clear=""><i class="fa fa-close"></i></span>
</div>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/lunr.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/horsey.js"></script>
<script type="text/javascript">
    var baseurl = "{{ .Site.BaseURL }}";
</script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/search.js"></script>
