<aside id="sidebar">
  <div class="menu-header">
    <div class="heading">
      Dgraph manual
    </div>
    <select class="version-selector">
      {{ range $i, $version := .Site.Params.Versions }}
          <option value="{{$version}}">{{ $version }}</option>
      {{ end }}
    </select>
  </div>

  <ul class="topics">
    {{ range .Site.Menus.main }}
      <li class="topic main-topic{{if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active{{end}}">
        <a href="{{.URL}}">
          {{ .Name }}
        </a>
      </li>
    {{ end }}
  </ul>
</aside>
