<aside id="sidebar">
  <div class="menu-header">
    <div class="heading">
      Dgraph manual
    </div>
    <select class="version-selector">
      {{ range $i, $version := .Site.Params.Versions }}
          <option value="{{$version}}">{{ $version }}</option>
      {{ end }}
    </select>
  </div>

  <ul class="topics">
    {{ range .Site.Menus.main }}
      <li class="topic main-topic{{if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active{{end}}">
        <a href="{{.URL}}">
          {{ .Name }}
        </a>
      </li>
    {{ end }}
  </ul>

  <div class="sidebar-menu-container">
    <div class="heading">More of Dgraph</div>

    <ul class="sidebar-menu">
      <li>
        <a href="https://dgraph.io/" target="_blank">Home</a>
      </li>
      <li>
        <a href="https://discuss.dgraph.io/" target="_blank">Community</a>
      </li>
      <li>
        <a href="https://slack.dgraph.io/" target="_blank">Slack</a>
      </li>
      <li>
        <a href="https://github.com/dgraph-io/dgraph" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</aside>
