<aside id="sidebar">
  <div class="menu-header">
    <div class="heading">
      Dgraph manual
    </div>
    <select class="version-selector">
      {{ range $i, $version := .Site.Params.Versions }}
          <option value="{{$version}}">{{ $version }}</option>
      {{ end }}
    </select>
  </div>

  <ul class="topics">
    {{ range .Site.Menus.main }}
      <li class="doc-toc{{if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active{{end}}">
        <a href="{{.URL}}">
          {{ .Name }}
        </a>
        {{ if and (.HasChildren) ($.IsMenuCurrent "main" .) }}
        <ul class="sub-topic">
          {{ range .Children.ByWeight }}
            <li{{if $.IsMenuCurrent "main" . }} class="active"{{end}}><a href="#{{.URL}}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{end}}
      </li>
    {{ end }}
  </ul>
</aside>
