<nav id="header">
  <a href="{{ .Site.BaseURL }}" class="brand">
    <img src="{{ .Site.BaseURL }}/images/dgraph.svg" alt="dgraph" class="logo" />
  </a>

  <div class="menu-container">
    <ul class="main-menu">
      <li>
        <a href="https://dgraph.io/" target="_blank">Home</a>
      </li>
      <li>
        <a href="https://discuss.dgraph.io/" target="_blank">Community</a>
      </li>
      <li>
        <a href="https://slack.dgraph.io/" target="_blank">Slack</a>
      </li>
      <li>
        <a href="https://github.com/dgraph-io/dgraph" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>

  <a href="#" id="sidebar-toggle">
    <i class="fa fa-bars"></i>
  </a>
</nav>
