<!DOCTYPE html>
<html lang="en" class="js csstransforms3d">
  <head>
    <meta charset="utf-8">
    {{ partial "meta.html" . }}
    {{ .Scratch.Add "title" "" }}
    {{ if isset .Site.Data.titles .Title }}
      {{ .Scratch.Set "title" (index .Site.Data.titles .Title).title }} {{ .Site.Title }}
    {{ else }}
      {{ .Scratch.Set "title" .Title}}
    {{end}}
    <title>{{ .Scratch.Get "title" }}</title>

    <link href="{{ .Site.BaseURL }}css/theme.css?{{ now }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  </head>
  <body>
    {{ partial "header.html" . }}

    <article id="{{ .Slug }}">
      {{ partial "request-edit.html" . }}
      {{ partial "suggest-edit.html" . }}

      <h1 class="post-title">{{ .Title }}</h1>

      <div>{{ .Content }}</div>
    </article>

    {{ partial "community-footer.html" . }}

    {{ partial "runnable-modal.html" . }}

    {{ partial "footer.html" . }}
  </body>
</html>
