---
---

@import "minima/skins/dark.scss";
@import "minima/initialize.scss";

body {
    color: #BBB !important;
    font-family: "ubuntu", sans-serif;
    line-height: 1.75 !important;
}

header, footer {
    border: 0 !important;
    padding: 2% 0 !important;
}

h1, h2, h3, h4, h5 {
    color: #CCC;
    font-weight: 500;
    padding-top: 2%;
}

h1.title {
    font-size: 110%;
}

b, strong {
    color: #CCC;
}

a {
    color: #e6087b !important;
}

a:hover {
    color: #EEE !important;
    text-decoration: none;
    transition: 0.1s;
}

ul, li {
    padding: 0.5% 0;
}

code {
    padding: 4px;
}

pre {
    font-size: 17px;
    padding: 10px 16px;
}
