
version: "3.5"
services:
#HA backup cluster
  alpha1_backup_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/alpha1
    links:
      - "nfs:nfs"
    privileged: true
    labels:
      cluster: test
    ports:
    - "8080"
    - "9080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command:
      - /bin/sh
      - -c
      - |
        apt-get update -qq && apt install nfs-client -y 
        mount -v -o vers=4,loud nfs:/ /mnt 2>&1 & 
        /gobin/dgraph  ${COVERAGE_OUTPUT}  alpha   --my=alpha1_backup_clust_ha:7080  --zero=zero1_backup_clust_ha:5080,zero2:5080_backup_clust_ha,zero3_backup_clust_ha:5080 --logtostderr -v=2  --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"
 
  alpha2_backup_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/alpha2
    links:
      - "nfs:nfs"
    labels:
      cluster: test
    ports:
    - "8080"
    - "9080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true
    command: /gobin/dgraph  ${COVERAGE_OUTPUT}  alpha   --my=alpha2_backup_clust_ha:7080  --zero=zero1_backup_clust_ha:5080,zero2:5080_backup_clust_ha,zero3_backup_clust_ha:5080 --logtostderr -v=2  --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"

  alpha3_backup_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/alpha3
    links:
      - "nfs:nfs"
    labels:
      cluster: test
    ports:
    - "8080"
    - "9080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command: /gobin/dgraph  ${COVERAGE_OUTPUT}  alpha   --my=alpha3_backup_clust_ha:7080  --zero=zero1_backup_clust_ha:5080,zero2:5080_backup_clust_ha,zero3_backup_clust_ha:5080 --logtostderr -v=2  --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"

          
  zero1_backup_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/zero1
    links:
      - "nfs:nfs"
    labels:
      cluster: test
    ports:
    - "5080"
    - "6080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command: /gobin/dgraph  ${COVERAGE_OUTPUT} zero --raft "idx=1;" --my=zero1_backup_clust_ha:5080 --replicas=3 --logtostderr -v=2 --bindall
            

  
  zero2_backup_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/zero2
    depends_on:
      - zero1_backup_clust_ha
    ports:
      - 5080
      - 6080
    labels:
      cluster: test
      service: zero
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command: /gobin/dgraph  ${COVERAGE_OUTPUT} zero --raft "idx=2;" --my=zero2_backup_clust_ha:5080 --replicas=3 --logtostderr -v=2 --bindall  --peer=zero1_backup_clust_ha:5080
         

  zero3_backup_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/zero3
    depends_on:
      - zero2_backup_clust_ha
    ports:
      - 5080
      - 6080
    labels:
      cluster: test
      service: zero
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true
    command: /gobin/dgraph  ${COVERAGE_OUTPUT} zero --raft "idx=3;" --my=zero3_backup_clust_ha:5080 --replicas=3 --logtostderr -v=2 --bindall  --peer=zero1_backup_clust_ha:5080
        

#HA restore cluster
  alpha4_restore_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/alpha4
    links:
      - "nfs:nfs"
    privileged: true
    labels:
      cluster: test
    ports:
    - "8080"
    - "9080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command:
      - /bin/sh
      - -c
      - |
        apt-get update -qq && apt install nfs-client -y 
        mount -v -o vers=4,loud nfs:/ /mnt 2>&1 & 
        /gobin/dgraph  ${COVERAGE_OUTPUT}  alpha   --my=alpha4_restore_clust_ha:7080  --zero=zero4_restore_clust_ha:5080,zero5_restore_clust_ha:5080,zero6_restore_clust_ha:5080 --logtostderr -v=2  --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"
  alpha5_restore_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/alpha5
    links:
      - "nfs:nfs"
    labels:
      cluster: test
    ports:
    - "8080"
    - "9080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true
    command: /gobin/dgraph  ${COVERAGE_OUTPUT}  alpha   --my=alpha5_restore_clust_ha:7080  --zero=zero4_restore_clust_ha:5080,zero5_restore_clust_ha:5080,zero6_restore_clust_ha:5080 --logtostderr -v=2  --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"

  alpha6_restore_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/alpha6
    links:
      - "nfs:nfs"
    labels:
      cluster: test
    ports:
    - "8080"
    - "9080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command: /gobin/dgraph  ${COVERAGE_OUTPUT}  alpha   --my=alpha6_restore_clust_ha:7080  --zero=zero4_restore_clust_ha:5080,zero5_restore_clust_ha:5080,zero6_restore_clust_ha:5080 --logtostderr -v=2  --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"

           
  zero4_restore_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/zero4
    links:
      - "nfs:nfs"
    labels:
      cluster: test
    ports:
    - "5080"
    - "6080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command: /gobin/dgraph  ${COVERAGE_OUTPUT} zero --raft "idx=1;" --my=zero4_restore_clust_ha:5080 --replicas=3 --logtostderr -v=2 --bindall

  
  zero5_restore_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/zero5
    depends_on:
      - zero4_restore_clust_ha
    ports:
      - 5080
      - 6080
    labels:
      cluster: test
      service: zero
    volumes:

      - type: bind
        source: $GOPATH/bin
        target: /gobin
        read_only: true
    command: /gobin/dgraph  ${COVERAGE_OUTPUT} zero --raft "idx=2;" --my=zero5_restore_clust_ha:5080 --replicas=3 --logtostderr -v=2 --bindall  --peer=zero4_restore_clust_ha:5080

  zero6_restore_clust_ha:
    image: dgraph/dgraph:local
    working_dir: /data/zero3
    depends_on:
      - zero5_restore_clust_ha
    ports:
      - 5080
      - 6080
    labels:
      cluster: test
      service: zero
    volumes:

      - type: bind
        source: $GOPATH/bin
        target: /gobin
        read_only: true
    command: /gobin/dgraph  ${COVERAGE_OUTPUT} zero --raft "idx=3;" --my=zero6_restore_clust_ha:5080 --replicas=3 --logtostderr -v=2 --bindall  --peer=zero4_restore_clust_ha:5080

#non HA cluster backup cluster
  zero7_backup_clust_non_ha:
    image: dgraph/dgraph:local
    working_dir: /data/zero7
    links:
      - "nfs:nfs"
    labels:
      cluster: test
    ports:
    - "5080"
    - "6080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command: /gobin/dgraph  ${COVERAGE_OUTPUT} zero --raft "idx=1;" --my=zero7_backup_clust_non_ha:5080 --replicas=1 --logtostderr -v=2 --bindall

  alpha7_backup_clust_non_ha:
    image: dgraph/dgraph:local
    working_dir: /data/alpha7
    links:
      - "nfs:nfs"
    privileged: true
    labels:
      cluster: test
    ports:
    - "8080"
    - "9080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command:
      - /bin/sh
      - -c
      - |
        apt-get update -qq && apt install nfs-client -y 
        mount -v -o vers=4,loud nfs:/ /mnt 2>&1 & 
        /gobin/dgraph  ${COVERAGE_OUTPUT}  alpha   --my=alpha7_backup_clust_non_ha:7080  --zero=zero7_backup_clust_non_ha:5080 --logtostderr -v=2  --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"

          

#non HA restore cluster

  zero8_restore_clust_non_ha:
    image: dgraph/dgraph:local
    working_dir: /data/zero8
    links:
      - "nfs:nfs"
    labels:
      cluster: test
    ports:
    - "5080"
    - "6080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true

    command: /gobin/dgraph  ${COVERAGE_OUTPUT} zero --raft "idx=1;" --my=zero8_restore_clust_non_ha:5080 --replicas=1 --logtostderr -v=2 --bindall

  alpha8_restore_clust_non_ha:
    image: dgraph/dgraph:local
    working_dir: /data/alpha8
    links:
      - "nfs:nfs"
    privileged: true
    labels:
      cluster: test
    ports:
    - "8080"
    - "9080"
    volumes:
    - type: bind
      source: $GOPATH/bin
      target: /gobin
      read_only: true
    command:
      - /bin/sh
      - -c
      - |
        apt-get update -qq && apt install nfs-client -y 
        mount -v -o vers=4,loud nfs:/ /mnt 2>&1 &
        /gobin/dgraph  ${COVERAGE_OUTPUT}  alpha   --my=alpha8_restore_clust_non_ha:7080  --zero=zero8_restore_clust_non_ha:5080 --logtostderr -v=2  --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"

  nfs:
    image: itsthenetwork/nfs-server-alpine:${NFS_SERVER_IMAGE_ARCH:-12}
    restart: unless-stopped
    privileged: true

    environment:
      - SHARED_DIRECTORY=/data
    volumes:
      - data-volume:/data


volumes:
  data-volume:
