version: "3.5"
services:
  zero1:
    image: dgraph/dgraph:local
    working_dir: /data/zero1
    ports:
      - 5080
      - 6080
    labels:
      cluster: test
      service: zero
    command: dgraph zero --my=zero1:5080 --replicas 3 --raft="idx=1" --logtostderr -v=2 --bindall --expose_trace --profile_mode block --block_rate 10

  zero2:
    image: dgraph/dgraph:local
    working_dir: /data/zero2
    depends_on:
      - zero1
    ports:
      - 5080
      - 6080
    labels:
      cluster: test
      service: zero
    command: dgraph zero --my=zero2:5080 --replicas 3 --raft="idx=2" --logtostderr -v=2 --peer=zero1:5080

  zero3:
    image: dgraph/dgraph:local
    working_dir: /data/zero3
    depends_on:
      - zero2
    ports:
      - 5080
      - 6080
    labels:
      cluster: test
      service: zero
    command: dgraph zero --my=zero3:5080 --replicas 3 --raft="idx=3" --logtostderr -v=2 --peer=zero1:5080

  alpha1:
    image: dgraph/dgraph:local
    working_dir: /data/alpha1
    volumes:
      - type: bind
        source: ../ee/acl/hmac-secret
        target: /dgraph-acl/hmac-secret
        read_only: true
      - type: bind
        source: ../ee/enc/test-fixtures/enc-key
        target: /dgraph-enc/enc-key
        read_only: true
    ports:
      - 8080
      - 9080
    labels:
      cluster: test
      service: alpha
    command: dgraph alpha --encryption "key-file=/dgraph-enc/enc-key;" --my=alpha1:7080 --zero=zero1:5080,zero2:5080,zero3:5080 --expose_trace --profile_mode block --block_rate 10 --logtostderr -v=2 
      --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"
      --acl "secret-file=/dgraph-acl/hmac-secret; access-ttl=20s;"

  alpha2:
    image: dgraph/dgraph:local
    working_dir: /data/alpha2
    depends_on:
      - alpha1
    volumes:
      - type: bind
        source: ../ee/acl/hmac-secret
        target: /dgraph-acl/hmac-secret
        read_only: true
      - type: bind
        source: ../ee/enc/test-fixtures/enc-key
        target: /dgraph-enc/enc-key
        read_only: true
    ports:
      - 8080
      - 9080
    labels:
      cluster: test
      service: alpha
    command: dgraph alpha --encryption "key-file=/dgraph-enc/enc-key;" --my=alpha2:7080 --zero=zero1:5080,zero2:5080,zero3:5080 --expose_trace --profile_mode block --block_rate 10 --logtostderr -v=2 
      --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;"
      --acl "secret-file=/dgraph-acl/hmac-secret; access-ttl=20s;"

  alpha3:
    image: dgraph/dgraph:local
    working_dir: /data/alpha3
    depends_on:
      - alpha2
    volumes:
      - type: bind
        source: ../ee/acl/hmac-secret
        target: /dgraph-acl/hmac-secret
        read_only: true
      - type: bind
        source: ../ee/enc/test-fixtures/enc-key
        target: /dgraph-enc/enc-key
        read_only: true
    ports:
      - 8080
      - 9080
    labels:
      cluster: test
      service: alpha
    command: dgraph alpha --encryption "key-file=/dgraph-enc/enc-key;" --my=alpha3:7080 --zero=zero1:5080,zero2:5080,zero3:5080 --expose_trace --profile_mode block --block_rate 10 --logtostderr -v=2 
      --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;" 
      --acl "secret-file=/dgraph-acl/hmac-secret; access-ttl=20s;"

  alpha4:
    image: dgraph/dgraph:local
    working_dir: /data/alpha4
    depends_on:
      - alpha3
    volumes:
      - type: bind
        source: ../ee/acl/hmac-secret
        target: /dgraph-acl/hmac-secret
        read_only: true
      - type: bind
        source: ../ee/enc/test-fixtures/enc-key
        target: /dgraph-enc/enc-key
        read_only: true
    ports:
      - 8080
      - 9080
    labels:
      cluster: test
      service: alpha
    command: dgraph alpha --encryption "key-file=/dgraph-enc/enc-key;" --my=alpha4:7080 --zero=zero1:5080,zero2:5080,zero3:5080 --expose_trace --profile_mode block --block_rate 10 --logtostderr -v=2 
      --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;" 
      --acl "secret-file=/dgraph-acl/hmac-secret; access-ttl=20s;"

  alpha5:
    image: dgraph/dgraph:local
    working_dir: /data/alpha5
    depends_on:
      - alpha4
    volumes:
      - type: bind
        source: ../ee/acl/hmac-secret
        target: /dgraph-acl/hmac-secret
        read_only: true
      - type: bind
        source: ../ee/enc/test-fixtures/enc-key
        target: /dgraph-enc/enc-key
        read_only: true
    ports:
      - 8080
      - 9080
    labels:
      cluster: test
      service: alpha
    command: dgraph alpha --encryption "key-file=/dgraph-enc/enc-key;" --my=alpha5:7080 --zero=zero1:5080,zero2:5080,zero3:5080 --expose_trace --profile_mode block --block_rate 10 --logtostderr -v=2 
      --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;" 
      --acl "secret-file=/dgraph-acl/hmac-secret; access-ttl=20s;"

  alpha6:
    image: dgraph/dgraph:local
    working_dir: /data/alpha6
    depends_on:
      - alpha5
    volumes:
      - type: bind
        source: ../ee/acl/hmac-secret
        target: /dgraph-acl/hmac-secret
        read_only: true
      - type: bind
        source: ../ee/enc/test-fixtures/enc-key
        target: /dgraph-enc/enc-key
        read_only: true
    ports:
      - 8080
      - 9080
    labels:
      cluster: test
      service: alpha
    command: dgraph alpha --encryption "key-file=/dgraph-enc/enc-key;" --my=alpha6:7080 --zero=zero1:5080,zero2:5080,zero3:5080 --expose_trace --profile_mode block --block_rate 10 --logtostderr -v=2 
      --security "whitelist=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16;" 
      --acl "secret-file=/dgraph-acl/hmac-secret; access-ttl=20s;"

  minio:
    image: minio/minio:latest
    env_file:
      - ./minio.env
    working_dir: /data/minio
    ports:
      - 9001
    labels:
      cluster: test
    command: minio server /data/minio --address :9001
