<section class="toc">
  <div class="container">
    <div class="row row-no-padding">
      <div class="col-12 col-sm-6">
        <div class="section-item">
          <div class="section-name">
            <a href="https://slack.dgraph.io">
              Slack
            </a>
          </div>
          <p class="section-desc">
            Chat instantly to the Dgrpah community and engineers.
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="section-item">
          <div class="section-name">
            <a href="https://discuss.dgraph.io">
              Forum
            </a>
          </div>
          <p class="section-desc">
            Discuss Dgraph on the official forum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
