<section class="toc">
  <div class="container">
    <div class="row row-no-padding">
      <div class="col-12 col-sm-6">
        <div class="section-item">
          <div class="section-name">
            <a href="https://tour.dgraph.io">
              Tour of Dgraph
            </a>
          </div>
          <p class="section-desc">
            Take an interactive tour of Dgraph with real queries and real results.
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="section-item">
          <div class="section-name">
            <a href="https://discuss.dgraph.io">
              Dgraph Playground
            </a>
          </div>
          <p class="section-desc">
            Play with Freebase movie dataset with 21 million edges
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
