{{ $checksum := md5 .Inner }}

<div class="runnable" data-checksum="{{ $checksum }}" data-initial="{{ .Inner }}">
  <div class="container">
    <div class="row row-no-padding">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="runnable-pane">
          <div class="topbar">
            <div class="row">
              <div class="col-12 col-sm-3">
                <!-- <div class="languages">
                  <a class="code-btn active" href="#">Bash</a>
                </div> -->
              </div>
              <div class="col-12 col-sm-9">
                <div class="actions pull-right">
                  <a class="code-btn" data-action="reset" href="#"><i class="fa fa-refresh"></i></a>
                  <a class="code-btn hidden-sm-down" data-action="expand" href="#"><i class="fa fa-expand"></i></a>
                  <span class="code-btn" data-action="copy-code" href="#">Copy</span>
                  <a class="code-btn" data-action="run" href="#">Run</a>
                </div>
              </div>
            </div>
          </div>
          <div class="runnable-content runnable-code">
            <pre><code class="no-copy">curl localhost:8080/query -XPOST -d '<div class="query-editable" spellcheck="false" contenteditable="true">{{ .Inner }}</div>' | python -m json.tool | less</code></pre>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6">
        <div class="runnable-pane">
          <div class="topbar">
            <div class="row">
              <div class="col-12 col-sm-6">
                Output
              </div>
              <div class="col-12 col-sm-6">
                <div class="actions pull-right">
                  <span class="code-btn" data-action="copy-output" href="#">Copy</span>
                </div>
              </div>
            </div>
          </div>
          <div class="runnable-content runnable-output" style="background: url('{{ .Site.BaseURL }}images/dgraph.svg'); background-repeat: no-repeat; background-position: center; background-color: #fff;">
            <pre class="output-container empty"><code class="output"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
