<section class="toc">
  <div class="container">
    <div class="row row-no-padding">
      {{ range .Site.Menus.main }}
        <div class="col-12 col-sm-6">
          <div class="section-item">
            <div class="section-name">
              <a href="{{ .URL }}">
                {{ .Name }}
              </a>
            </div>
            <p class="section-desc">
              {{ index $.Site.Params.menudesc .Identifier }}
            </p>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
