.App-statistics {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 100px;
}

.App-fullscreen {
    position: absolute;
    top: 0px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.App-fs-icon {
    font-size: 20px;
    padding: 5px;
}

.App-tip {
    border: 1px solid #87cb74;
    background-color: #e3f9e3;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    height: auto;
}

.App-prev-queries {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 100px;
}

.App-prev-queries-table {
    width: 100%;
    border: 1px solid black;
    margin: 10px 0px 15px 0px;
    padding: 0px 5px 5px 5px;
}

.App-prev-queries-tbody {
    height: 500px;
    overflow-y: scroll;
    display: block;
}

.App-label {
    text-align: center;
    margin: 0px 0px 0px 10px;
    width: 20px;
    display: inline-block;
}

:focus {
    outline: none;
}

.vis-tooltip {
    border: 1px solid #f3d98c;
    background-color: #fffad5;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    height: auto;
    position: absolute !important;
}

#properties em {
    height: 100%;
}

#properties pre {
    height: 100%;
}
