.app-layout {
  display: flex;
  flex-direction: auto;
  height: 100vh;
}

/* sidebar */
.main-content {
  overflow-y: auto;
  background-color: #ececec;
  padding-top: 13px;
}

.sidebar-container {
  flex: 0;
  flex-direction: row;
  display: flex;

}

.sidebar-container .sidebar-menu {
  flex: 0;
  background-color: #20202b;
}

.sidebar-container .sidebar-content {
  flex: auto;
  width: 280px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1.05);
  background: #1e1e20;
  color: white;
}

.main-content {
  flex: auto;
}

.sidebar-container ul {
  list-style: none;
  padding-left: 0;
}

.sidebar-container .logo {
  width: 80px;
}


.sidebar-content:not(.open) {
  width: 0;
}

.sidebar-menu .logo {
  width: 52px;
}
.sidebar-menu li {
  width: 78px;
  text-align: center;
  font-size: 29px;
  border-bottom: 1px solid #505050;
}
.sidebar-menu li:hover {
  background-color: #353836;
}
.sidebar-menu li a {
  color: #a9a9a9;
  padding: 19px 0;
  display: block;
}
.sidebar-menu li a.active {
  background: #1e1e20;
}

.App-statistics {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 100px;
}

.App-fullscreen {
    position: absolute;
    top: 0px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.App-fs-icon {
    font-size: 20px;
    padding: 5px;
}

.App-tip {
    border: 1px solid #87cb74;
    background-color: #e3f9e3;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    height: auto;
}

.App-prev-queries {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 100px;
}

.App-prev-queries {
    width: 100%;
    margin: 10px 0px 15px 0px;
    padding: 0px 5px 5px 5px;
}

.App-prev-queries-table {
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}

.App-prev-queries-tbody {
    height: 500px;
    overflow-y: scroll;
    display: block;
}

.App-prev-queries .input-group-btn {
    padding-left: 5px;
}

.App-label {
    text-align: center;
    margin: 0px 0px 0px 10px;
    width: 20px;
    display: inline-block;
}

:focus {
    outline: none;
}

.vis-tooltip {
    border: 1px solid #f3d98c;
    background-color: #fffad5;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    height: auto;
    position: absolute !important;
}

#properties em {
    height: 100%;
}

#properties pre {
    height: 100%;
}

input.form-control {
    font-size: 16px !important;
}

.form-group {
    margin-bottom: 5px;
}

.App-hide {
    display: none;
}

// override the library default
.hljs {
  background: none;
}
