.App-statistics {
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 100px;
}

.App-properties {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 120px;
    border: 1px solid gray;
    padding: 10px;
    overflow: auto;
}

.App-fullscreen {
    position: absolute;
    top: 0px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.App-tip {
    border: 1px solid #87cb74;
    background-color: #e3f9e3;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    height: auto;
}

tr.query pre:hover {
    border: 1px solid gray;
    cursor: pointer;
}

:focus {
    outline: none;
}

.full-height {
    height: calc(100vh - 250px);
    border: 1px solid gray;
    border-bottom: 0px;
}

.fixed-height {
    height: 500px;
}

.vis-tooltip {
    border: 1px solid #f3d98c;
    background-color: #fffad5;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    height: auto;
    position: absolute !important;
}

#properties em {
    height: 100%;
}

#properties pre {
    height: 100%;
}

.App-label {
    text-align: center;
    margin: 0px 0px 0px 10px;
    width: 20px;
    display: inline-block;
}
