.Properties {
    width: 100%;
    margin-top: 5px;
}

.Properties-key {
    display: table-cell;
    color: #008000;
    font-weight: bold
}

.Properties-val {
    display: table-cell;
    color: #BA2121;
    word-break: break-word;
}

.Properties tbody {
    width: 100%;
    display: block;
    padding: 0px 5px 0px 0px;
}

.Properties tr {
    display: table;
    width: 100%;
    vertical-align: top;
}

.Properties td {
    width: 33%;
    text-align: left;
    padding: 2px 5px 2px 0px;
}
