#properties {
    min-height: 50px;
    margin-top: 5px;
}

.Properties {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.Properties:after {
    content: "";
    flex: 1 0 250px;
}

.Properties-key-val {
    flex: 1 0 250px;
    padding-right: 5px;
}

.Properties-key {
    display: table-cell;
    color: #008000;
    font-weight: bold
}

.Properties-val {
    display: table-cell;
    color: #BA2121;
}

.Properties-facets {
    display: inline-block;
    margin-top: 5px;
}

@media(max-width: 850px) {
    .Properties-key-val {
        flex: 1 0 200px;
        max-width: 200px;
    }
    .Properties:after {
        flex: 1 0 200px;
        max-width: 200px;
    }
}
