name: Push Docker Image

on:
  schedule:
    - cron: 0 0 * * *

permissions:
  contents: read
  packages: write

jobs:
  build:
    if: false # Temporarily disabled
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Setup Blacksmith Builder
        uses: useblacksmith/setup-docker-builder@v1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: useblacksmith/build-push-action@v2
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/dgraph-io/dgraph-standalone:nightly
