name: ci-dgraph-vector-tests

on:
  pull_request:
    paths:
      - "**/*.go"
      - "**/go.mod"
      - "**/*.yml"
      - "**/Dockerfile"
      - "**/Makefile"
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main
      - release/**
  schedule:
    - cron: 0 0 * * * # 1 run per day

permissions:
  contents: read

jobs:
  dgraph-vector-tests:
    if: github.event.pull_request.draft == false
    runs-on: warp-ubuntu-latest-x64-4x
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Install protobuf-compiler
        run: sudo apt update && sudo apt install -y protobuf-compiler
      - name: Check protobuf
        run: |
          cd ./protos
          go mod tidy
          make regenerate
          git diff -b --exit-code -- .
      - name: Make Linux Build and Docker Image
        run: make docker-image
      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest
      - name: Build Test Binary
        run: |
          #!/bin/bash
          # build the test binary
          cd t; go build .
      - name: Clean Up Environment
        run: |
          #!/bin/bash
          # clean cache
          go clean -testcache
          # clean up docker containers before test execution
          cd t; ./t -r
      - name: Run Vector Tests
        run: |
          #!/bin/bash
          # go env settings
          export GOPATH=~/go
          # move the binary
          cp dgraph/dgraph ~/go/bin/dgraph
          # run the unit and vector tests
          cd t; ./t --suite=vector
          # clean up docker containers after test execution
          ./t -r
          # sleep
          sleep 5
      - name: Upload Test Results
        if: always() # Upload the results even if the tests fail
        continue-on-error: true # don't fail this job if the upload fails
        uses: trunk-io/analytics-uploader@v2
        with:
          junit-paths: ./test-results.xml
          org-slug: hypermode
          token: ${{ secrets.TRUNK_TOKEN }}
