name: ci-dgraph-oss-build

on:
  pull_request:
    paths:
      - "**/*.go"
      - "**/go.mod"
      - "**/*.yml"
      - "**/Dockerfile"
      - "**/Makefile"
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main
      - release/**

permissions:
  contents: read

jobs:
  dgraph-oss-build:
    if: github.event.pull_request.draft == false
    runs-on: warp-ubuntu-latest-x64-4x
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Make OSS Linux Build
        run: make oss # verify that we can make OSS build
      - name: Run OSS Unit Tests
        run: |
          #!/bin/bash
          # go env settings
          export GOPATH=~/go
          # move the binary
          cp dgraph/dgraph ~/go/bin/dgraph
          # run OSS unit tests
          go test -v -timeout=60m -failfast -tags=oss -count=1 ./...
