name: ci-dgraph-integration2-tests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    branches:
      - main
      - release/**

permissions:
  contents: read

jobs:
  check-changes:
    uses: ./.github/workflows/check-changes.yml

  dgraph-integration2-tests:
    needs: check-changes
    if:
      github.event.pull_request.draft == false && needs.check-changes.outputs.should-skip != 'true'
    runs-on: blacksmith-16vcpu-ubuntu-2404
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: Make Linux Build and Docker Image
        run: make docker-image

      - name: Clean Up Environment
        run: |
          #!/bin/bash
          # clean cache
          go clean -testcache

      - name: Run Integration2 Tests
        run: |
          #!/bin/bash
          # go env settings
          export GOPATH=~/go
          # move the binary
          cp dgraph/dgraph ~/go/bin/dgraph
          # run the tests
          go test -v -timeout=90m -failfast -tags=integration2 ./...
          # clean up docker containers after test execution
          go clean -testcache
          # sleep
          sleep 5
